<!DOCTYPE html>
<html>

<head>
    {% set logo = random(['blue', 'yellow', 'green']) %}
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="{{ asset('bundles/trias/img/favicon/'~logo~'.png') }}">

    <title>{% if title is defined %}{{ title }}{% else %}Trias{% endif %}</title>

    <link href="{{ asset('bundles/trias/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/trias/css/bootstrap-switch.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/trias/css/font-awesome4.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/trias/css/select2.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/trias/css/admin.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/trias/css/toastr.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/trias/css/skin.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/trias/css/style.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>

<body class="{% if bodyClass is defined %}{{ bodyClass }}{% endif %} sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            {% block header %}{% endblock %}
        </header>

        <aside class="main-sidebar">
            <section class="sidebar">
                {% block sidebar %}{% endblock %}
            </section>
        </aside>

        <div class="content-wrapper">
            {% block body %}{% endblock %}
        </div>

        {% block footer %}{% endblock %}

        {% block controlSidebar %}{% endblock %}
    </div>

    {# Basic empty modal, used for ajax calls #}
    <div id="basicModal" class="modal fade" role="dialog" data-empty="true">
        <div class="modal-dialog">
            <div class="modal-content"></div>
        </div>
    </div>

    {# Loader #}
    <div id="loader-wrap">
        <i class="fa fa-circle-o-notch fa-spin"></i>
    </div>

    <script src="{{ asset('bundles/trias/js/vendor/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/trias/js/vendor/jquery-ui.js') }}"></script>
    <script src="{{ asset('bundles/trias/js/vendor/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/trias/js/vendor/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ asset('bundles/trias/js/vendor/app.js') }}"></script>
    <script src="{{ asset('bundles/trias/js/vendor/jquery.form.js') }}"></script>
    <script src="{{ asset('bundles/trias/js/vendor/toastr.js') }}"></script>
    <script src="{{ asset('bundles/trias/js/vendor/dataTables.js') }}"></script>
    <script src="{{ asset('bundles/trias/js/vendor/moment.js') }}"></script>
    <script src="{{ asset('bundles/trias/js/vendor/datetime-moment.js') }}"></script>
    <script src="{{ asset('bundles/trias/js/vendor/select2.full.min.js') }}"></script>
    <script src="{{ asset('bundles/trias/js/library.js') }}"></script>
    <script src="{{ asset('bundles/trias/js/general.js') }}"></script>
    {% include '@Trias/javascript.html.twig' %}
    {% block javascripts %}{% endblock %}
    <script src="{{ asset('bundles/trias/js/custom-moment-locale.js') }}"></script>
    <script>$(window).trigger('statechangecomplete');</script>

    <script>
        {% for msg in app.session.flashbag.get('success') %}
        showMessage("{{ msg|trans }}", 'success');
        {% endfor %}
        {% for msg in app.session.flashbag.get('notice') %}
        showMessage("{{ msg|trans }}", 'info');
        {% endfor %}
        {% for msg in app.session.flashbag.get('danger') %}
        showMessage("{{ msg|trans }}", 'error');
        {% endfor %}
        {% for msg in app.session.flashbag.get('warning') %}
        showMessage("{{ msg|trans }}", 'warning');
        {% endfor %}
    </script>
</body>
</html>