<!DOCTYPE html>
<html>

<head>
    {% set logo = random(['blue', 'yellow', 'green']) %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="{{ asset('bundles/trias/img/favicon/'~logo~'.png') }}">

    <title>{% if title is defined %}{{ title }}{% else %}Trias{% endif %}</title>

    <link href="{{ asset('bundles/trias/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/trias/css/font-awesome4.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/trias/css/admin.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/trias/css/skin.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>

<body>
<div class="container">
    {% block body %}{% endblock %}
</div>

{% block javascripts %}{% endblock %}
</body>
</html>