<script>
    $(window).on('statechangecomplete', function() {
        $('table[data-triasdatatable]').each(function () {
            // Check if table was already initialized (via browser caching)
            if ($(this).attr('id') !== undefined && $(this).closest('.dataTables_wrapper').length !== 0) {
                location.reload();
            }

            // Add sortable dates to DataTables
            $.fn.dataTable.moment('DD-MM-YYYY HH:mm');

            var $ordering = $(this).data('ordering') !== null ? $(this).data('ordering') : true,
                $searching = $(this).data('searching') !== null ? $(this).data('searching') : true,
                $paging = $(this).data('paging') !== null ? $(this).data('paging') : true,
                $stateSave = $(this).data('statesave') !== null ? $(this).data('statesave') : true,
                $rowReorder = $(this).data('rowreorder') !== null ? $(this).data('rowreorder') : false;

            $order = [ [1, 'asc'] ];
            if ($(this).find('thead').find('th').length == 1) {
                $order = [ [0, 'asc'] ];
            }

            window.documents_table = $(this).DataTable({
                ordering: $ordering,
                searching: $searching,
                paging: $paging,
                stateSave: $stateSave,
                oLanguage: {
                    "sProcessing": "{{ 'views.datatables.sProcessing'|trans }}",
                    "sLengthMenu": "{{ 'views.datatables.sLengthMenu'|trans }}",
                    "sZeroRecords": "{{ 'views.datatables.sZeroRecords'|trans }}",
                    "sInfo": "<span class='badge'>{{ 'views.datatables.sInfo'|trans }}</span>",
                    "sInfoEmpty": "<span class='badge'>{{ 'views.datatables.sInfoEmpty'|trans }}</span>",
                    "sInfoFiltered": "<span class='badge'>{{ 'views.datatables.sInfoFiltered'|trans }}</span>",
                    "sInfoPostFix": "{{ 'views.datatables.sInfoPostFix'|trans }}",
                    "sSearch": "{{ 'views.datatables.sSearch'|trans }}",
                    "sEmptyTable": "{{ 'views.datatables.sEmptyTable'|trans }}",
                    "sInfoThousands": "{{ 'views.datatables.sInfoThousands'|trans }}",
                    "sLoadingRecords": "{{ 'views.datatables.sLoadingRecords'|trans }}",
                    "oPaginate": {
                        "sFirst": "{{ 'views.datatables.sFirst'|trans }}",
                        "sLast": "{{ 'views.datatables.sLast'|trans }}",
                        "sNext": "{{ 'views.datatables.sNext'|trans }}",
                        "sPrevious": "{{ 'views.datatables.sPrevious'|trans }}"
                    }
                },
                order: $order,
                columnDefs: [
                    {orderable: false, targets: 'no-sort'}
                ],
                responsive: true,
                rowReorder: $rowReorder
            });
        });
    });

	Box.options.confirm.title = "{{ 'views.box.confirm.title'|trans }}";
	Box.options.confirm.buttons[0].title = "{{ 'views.box.confirm.buttons.confirm'|trans }}";
	Box.options.confirm.buttons[1].title = "{{ 'views.box.confirm.buttons.cancel'|trans }}";
</script>