<!DOCTYPE html>
<html>
<head>
	{% set template = random(['blue', 'yellow', 'green']) %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="{{ asset('bundles/trias/img/favicon/'~template~'.png') }}">

    <title>{% if title is defined %}{{ title }}{% else %}Trias{% endif %}</title>

    <link href="{{ asset('bundles/trias/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/trias/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/trias/css/admin.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/trias/css/skin.css') }}" rel="stylesheet">
	{% block stylesheets %}{% endblock %}
</head>

<body>
<div class="container">
    <div class="box-login col-md-8 col-md-offset-2">
        <section class="box">
			{% block body %}{% endblock %}
        </section>
    </div>
</div>

<script src="{{ asset('bundles/trias/js/vendor/jquery.min.js') }}"></script>

{% if date().format('n') in [1,12] %}
    <script src="{{ asset('bundles/trias/js/vendor/snowflakes.js') }}"></script>
    <script>
		$(document).ready(function() {
			var d = new Date();
			n = d.getMonth();
			var sf = new Snowflakes({
				container: document.getElementById('container'),
				count: 75
			});
			sf.start();
		});
    </script>
{% endif %}

</body>
</html>