<div class="box {{ class }}">
    {% block header %}
    {% endblock %}

    <div class="box-body">
        {% block body %}
        {% endblock %}
    </div>

    {% block footer %}
    {% endblock %}
</div>