{% extends template %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/trias/css/error.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
	{% set textClass = 'text-red' %}
	{% if status_code == 404 %}
		{% set textClass = 'text-yellow' %}
	{% endif %}
	{% set transKey = 'error.'~status_code~'.title' %}
	{% set transMsg = transKey|trans %}
	{% set transFound = not(transKey == transMsg) %}

	<section class="content">
		<div class="col-md-8 col-md-offset-2">
			<section class="box">
				<div class="error-content">
					<div class="col-md-2 col-md-offset-5">
						<span class="fa-stack fa-10x fa-10x-fix">
							<i class="fa fa-question-circle {{ textClass }} fa-stack-2x"></i>
						</span>
					</div>
					<div class="clearfix clear-fix"></div>
					<div class="fa-10x text-align-center {{ textClass }}">{{ status_code }}</div>
					<div class="clearfix clear-fix"></div>
					<div class="text-align-center">
						{% if transFound %}
							<h3><i class="fa fa-warning {{ textClass }}"></i> {{ ('error.'~status_code~'.title')|trans }}</h3>
							<p>{{ ('error.'~status_code~'.description')|trans|raw }}</p>
						{% else %}
							<h3><i class="fa fa-warning {{ textClass }}"></i> {{ 'error.general.title'|trans }}</h3>
							<p>{{ 'error.general.description'|trans|raw }}</p>
						{% endif %}
					</div>
				</div>
			</section>
		</div>
	</section>
{% endblock %}