/** login **/
.box-login {
  margin-top: 10%;
}
.box-login .input-group-addon {
  min-width: 40px;
}
.box-login .box {
  border-top: 0;
}

/** main **/
.main-header {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}
.main-header .navbar-toggle {
  color: #333;
}
.main-header .navbar-brand {
  color: #333;
  border-right: 1px solid #eee;
}
.main-header > .navbar {
  background-color: #ffffff;
}
.main-header > .navbar .nav > li > a {
  color: #333333;
}
.main-header > .navbar .nav > li > a:hover,
.main-header > .navbar .nav > li > a:active,
.main-header > .navbar .nav > li > a:focus,
.main-header > .navbar .nav .open > a,
.main-header > .navbar .nav .open > a:hover,
.main-header > .navbar .nav .open > a:focus,
.main-header > .navbar .nav > .active > a {
  background: #ffffff;
  color: #999999;
}
.main-header > .navbar .sidebar-toggle {
  color: #333333;
}
.main-header > .navbar .sidebar-toggle:hover {
  color: #999999;
  background: #ffffff;
}
.main-header > .navbar > .sidebar-toggle {
  color: #333;
  border-right: 1px solid #eee;
  font-size: 14px;
}
.main-header > .navbar .navbar-nav > li > a {
  border-right: 1px solid #eee;
}
.main-header > .navbar .navbar-custom-menu .navbar-nav > li > a,
.main-header > .navbar .navbar-right > li > a {
  border-left: 1px solid #eee;
  border-right-width: 0;
}
.main-header > .logo {
  background-color: #ffffff;
  color: #333333;
  border-bottom: 0 solid transparent;
  border-right: 1px solid #eee;
}
.main-header > .logo:hover {
  background-color: #fcfcfc;
}
@media (max-width: 767px) {
  .main-header > .logo {
    background-color: #222222;
    color: #ffffff;
    border-bottom: 0 solid transparent;
    border-right: none;
  }
  .main-header > .logo:hover {
    background-color: #1f1f1f;
  }
}
.main-header li.user-header {
  background-color: #222;
}
.content-header {
  background: transparent;
  box-shadow: none;
}
.wrapper,
.main-sidebar,
.left-side {
  background-color: #f9fafc;
}
.main-sidebar {
  border-right: 1px solid #d2d6de;
}
.user-panel > .info,
.user-panel > .info > a {
  color: #444444;
}
.sidebar-menu > li {
  -webkit-transition: border-left-color 0.3s ease;
  -o-transition: border-left-color 0.3s ease;
  transition: border-left-color 0.3s ease;
}
.sidebar-menu > li.header {
  color: #848484;
  background: #f9fafc;
}
.sidebar-menu > li > a {
  border-left: 3px solid transparent;
  font-weight: 400;
}
.sidebar-menu > li:hover > a,
.sidebar-menu > li.active > a {
  color: #000000;
  background: #f4f4f5;
  border-left-color: #3c8dbc;
}
.sidebar-menu > li > .treeview-menu {
  background: #f4f4f5;
}
.sidebar a {
  color: #444444;
}
.sidebar a:hover {
  text-decoration: none;
}
.treeview-menu > li > a {
  color: #777777;
}
.treeview-menu > li.active > a,
.treeview-menu > li > a:hover {
  color: #000000;
}
.treeview-menu > li.active > a {
  font-weight: 600;
}
.sidebar-form {
  border-radius: 3px;
  border: 1px solid #d2d6de;
  margin: 10px 10px;
}
.sidebar-form input[type="text"],
.sidebar-form .btn {
  box-shadow: none;
  background-color: #fff;
  border: 1px solid transparent;
  height: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.sidebar-form input[type="text"]:focus,
.sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
@media (min-width: 768px) {
  .skin-black-light.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
    border-left: 1px solid #d2d6de;
  }
}

/***********************************/
/**            LOADER             **/
/***********************************/
#loader-wrap {
  position: fixed;
  width:100%;
  z-index: 10;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  background-color: #eee;
  display: none;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s ease-in-out, left 0.3s ease-in-out, opacity 0.2s ease-out, background-color 0.2s ease-out;
  -moz-transition: -moz-transform 0.3s ease-in-out, left 0.3s ease-in-out, opacity 0.2s ease-out, background-color 0.2s ease-out;
  -o-transition: -o-transform 0.3s ease-in-out, left 0.3s ease-in-out, opacity 0.2s ease-out, background-color 0.2s ease-out;
  transition: transform 0.3s ease-in-out, left 0.3s ease-in-out, opacity 0.2s ease-out, background-color 0.2s ease-out; }
#loader-wrap .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  line-height: 30px;
  margin-top: -15px;
  margin-left: -10px;
  font-size: 20px;
  vertical-align: middle; }

/** **/
label, th {
  font-weight: 500;
}
.checkbox label, .radio label {
  padding-left: 5px;
}

.vertical-alignment-helper {
  display:table;
  height: 100%;
  width: 100%;
  pointer-events:none;
}
.vertical-align-center {
  display: table-cell;
  vertical-align: middle;
  pointer-events:none;
}
.modal-center {
  width:inherit;
  height:inherit;
  margin: 0 auto;
  pointer-events: all;
}