.dataTables_filter {
    float: right;
}

table.dataTable thead th:active,
table.dataTable thead td:active {
    outline: none; }

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    cursor: pointer;
    *cursor: hand; }

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background-repeat: no-repeat;
    background-position: center right; }

table.dataTable thead .sorting {
    background-image: url("../img/sort/sort_both.png"); }

table.dataTable thead .sorting_asc {
    background-image: url("../img/sort/sort_asc.png"); }

table.dataTable thead .sorting_desc {
    background-image: url("../img/sort/sort_desc.png"); }

table.dataTable thead .sorting_asc_disabled {
    background-image: url("../img/sort/sort_asc_disabled.png"); }

table.dataTable thead .sorting_desc_disabled {
    background-image: url("../img/sort/sort_desc_disabled.png"); }

#alertBoxModal p {
    font-size: 16px;
    margin: 12px 0;
}