.dtp .p10 { width: 10%; display: inline-block; }
.dtp .p20 { width: 20%; display: inline-block; }
.dtp .p60 { width: 60%; display: inline-block; }
.dtp .p80 { width: 80%; display: inline-block; }

.dtp .p10 > a > i.fa { font-size: 22px; }

.dtp:not(.dtp-inline) { position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 2000; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.dtp:not(.dtp-inline) > .dtp-content { max-width: 300px; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); max-height: 520px; position: relative; left: 50%; }
.dtp:not(.dtp-inline) > .dtp-content > .dtp-date-view > header.dtp-header { text-align: center; padding: 0.3em; }
.dtp:not(.dtp-inline) div.dtp-picker-calendar { padding: 10px 10px 0 10px; }

.dtp div.dtp-date, .dtp div.dtp-time { text-align: center; }
.dtp div.dtp-date > div { padding: 0; margin: 0; }
.dtp div.dtp-actual-month { font-size: 1.5em; }
.dtp div.dtp-actual-num { font-size: 3em; line-height: 0.9; }
.dtp div.dtp-actual-maxtime { font-size: 3em; line-height: 0.9; }
.dtp div.dtp-actual-year { font-size: 1.5em; }
.dtp div.dtp-picker { text-align: center; }
.dtp div.dtp-picker-month, .dtp div.dtp-actual-time { font-weight: 500; text-align: center; }
.dtp div.dtp-picker-month { padding-bottom:20px!important; text-transform: uppercase!important; }
.dtp .dtp-close { position: absolute; top: 4px; right: 10px; }
.dtp table.dtp-picker-days { min-height: 214px; margin-bottom: 0; }
.dtp table.dtp-picker-days, .dtp table.dtp-picker-days tr, .dtp table.dtp-picker-days tr > td { border: none; }
.dtp table.dtp-picker-days tr > td {  font-weight: 700; font-size: 13px; padding: 0; }
.dtp table.dtp-picker-days tr > td > a, .dtp .dtp-picker-time > a { text-decoration: none; padding: 0.4em 0.7em 0.5em; display: inline-block; }
.dtp table.dtp-picker-days tr > td > span.dtp-select-day { padding: 0.4em 0.7em 0.5em; }
.dtp table.dtp-picker-days tr > th { text-align: center; font-weight: 700; padding: 0.4em 0.3em; }
.dtp a.dtp-meridien-am, .dtp a.dtp-meridien-pm { position: relative; top: 10px; font-weight: 500; padding: 0.7em 0.5em; border-radius: 50%!important; text-decoration: none; font-size:1em; }
.dtp .dtp-picker-time > .dtp-select-hour { cursor: pointer; }
.dtp .dtp-picker-time > .dtp-select-minute { cursor: pointer; }

/**
 * THEMES
 */

/* Neutral */
.dtp table.dtp-picker-days tr > td > a.selected{ background: #8c8c8c; color: #fff; }

/* Blue */
.dtp.blue:not(.dtp-inline) { background: rgba(0, 0, 0, 0.4); }
.dtp.blue:not(.dtp-inline) > .dtp-content { background: #fff; }
.dtp.blue:not(.dtp-inline) > .dtp-content > .dtp-date-view > header.dtp-header { background: #3c8dbc; color: #fff; }
.dtp.blue table.dtp-picker-days tr > td > a, .dtp.blue .dtp-picker-time > a { color: #212121; }
.dtp.blue table.dtp-picker-days tr > th { color: #757575; }
.dtp.blue .p10 > a { color: #3c8dbc; }
.dtp.blue div.dtp-date, .dtp.blue div.dtp-time { background: #3EC6F6; color: #fff; }
.dtp.blue table.dtp-picker-days tr > td > a.selected{ background: #3EC6F6; color: #fff; }
.dtp.blue table.dtp-picker-days tr > td > span.dtp-select-day { color: #BDBDBD!important; }
.dtp.blue .dtp-actual-meridien a.selected { background: #3c8dbc; color: #fff; }
.dtp.blue a.dtp-meridien-am, .dtp.blue a.dtp-meridien-pm { background: #eee; color: #212121; }
.dtp.blue .dtp-close > a { color: #fff; }
.dtp.blue div.dtp-actual-year { color: #DCEDC8; }